@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

/*____happy-new-year-2021____*/

body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

body, html{
    background-image: url(../images/IDmictailbg3.png);
    background-position:unset;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}



.hidden{
    visibility: hidden;
}

/*_______image styles_____*/

img.caro-img{
    padding: 150px;
    text-align: center;
}
.filler-extra-light{
    background-color: transparent;
    width: 80px;
    height: 60px;
}

.filler-light{
    background-color: transparent;
    width: 120px;
    height: 100px;
}

.filler{
    background-color: transparent;
    width: 220px;
    height: 180px;
}

.id-bg-img{
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.image1{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/theblacksheep.jpg);
    background-position: center;
}
.image2{
    background-image: url(./assets/images/auBasin.jpg);
    background-position: center;
}
.image3{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/71582756_976219722723674_4087327437082329088_o.jpg);
    background-position: center;
}
.image4{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/funkymonkey.jpg);
    background-position: bottom;
}
.image5{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/Beige-at-ViaVia.jpg);
background-position: bottom;
}
.img-show-1{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/funkymonkey.jpg);
    background-position: center;
    height: 70%;
    }
.img-show-2{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/Beige-at-ViaVia.jpg);
    background-position: bottom;
    height: 70%;
    }
.img-show-3{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/theblacksheep.jpg);
    background-position: center;
    height: 70%;
    }


/*______Venue-HEADERS______*/

.icon{
    padding-right: 7px;
}

.venues{
    text-align: center;
}
.venue-item{
    margin: 9px;
    background-color: #000000;
      color: #ffee00;
    padding-bottom: 35px;
}

.venue-item h3{
       text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 500;
  font-size: 27px;
  padding-right: 20px;
   margin: auto;
   
}

.venue-item p{
       text-align: center;
    font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6rem;
    margin: auto;
}




/*-------heading and welcome-----*/

.main-heading{
    color: #ffee00;
    background-color: #00000044;
    text-align: center ;
    font-family: 'Montserrat', sans-serif;
}

.main-heading p{
      font-size: 35px;
      
}
.main-heading h2{
      font-size: 90px;
      font-family: 'Montserrat Subrayada', sans-serif;
}
.main-heading h3{
      font-size: 40px;
}

.main-ticket-btn{
    background-color: #ffee00;
    border: 1px solid #a79b00;
    color: #000;
    font-size: 30px;
    font-weight: 800;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}


.main-ticket-btn:hover{
    background-color: #db1d0d;
    border: none;
}

/*____calender-table____*/

.calender table{
    margin: 10px 15px 20px 15px;
    max-width: 70%;
}


table.table-dark.table-hover{
    background-color: #000000;
    color: #db1d0d;
    border: 2px solid #ffee00;
   
}
table{
    border-color:beige; 
}

td{
    border-left: 1px solid beige;
}
.disabled-date{
    color: #db1e0d5d;
}

/*_____news-section-homepg___*/
.heading h1{
    font-size: 30px;
    color: #ffee00;
    background-color: #00000044;
    text-align: center ;
}
.heading h2{
    font-size: 20px;
    color: #ffee00;
    background-color: #00000044;
    text-align: center ;
}
.news p{
    padding: 3px 5px 3px 5px;
    font-size: 15px;
    color: #ffee00;
    background-color: #00000044;
    text-align: center ;
}



/* ---- NAV-BAR -----*/



.col-3 nav{
    margin: auto;
}
.nav-sticky{
     position: relative;
}

ul{
    padding: 0;
}
.container-fluid{
    margin: 0;
    padding: 0;
}

ul a:link,
a{
    background-color: transparent;
    color: #db1d0d;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.col{
    padding-left: 0rem;
    padding-right: 0rem;
}


.nav-link{
    display: unset;
    padding: unset;
    font-size: 30px;
    color: #000000;
}

li{
    list-style: none;
    text-decoration: none;
    text-align: center;
}
.nav-link:hover{
    color:#ffee00;
}


#active-nav, #active-nav-lg{
    color: #ffee00;
}


/*------Social-links-------*/


.social-area,
.copyright{
    background-color: #db1d0d;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.social-link-item{
    text-align: center;
    font-size: 25px;
    display: inline-block;
    width: 10%;
    height: 10%;
    padding: 2%;
    margin: 10px;


}
 a:hover i{
    color: black;
}

.social-link-item a:any-link{
    background-color: transparent;
   color: #ffee00;
}


.copyright p{
    color: #ffee00;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 15px;
}


  /*_____NAVBAR__mobile____*/

#active-nav-mobile{
    color: #ffee00;
    margin: 0;
    padding: 2px 2px 2px 2px;
}  

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
   
     color: #000000;
}

.navbar.navbar-dark{
    background-color: #db1d0d;
}

    .icon-nav{
        font-size: 46px;
    }
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler{
    font-size: 35px;
    text-align: right;
	color: rgba(255,255,0, 1);
    border-color: rgba(255, 255, 0, 0);
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}


@media(min-width: 576px),(min-width: 767px){


table.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
margin: auto;
}

nav.navbar.navbar-dark{
    
    background-color:transparent;
}
.nav-link{
    color: #db1d0d;
}

/*____mobile-nav-view-hidden---*/
.collapse,button.navbar-toggler.btn{
   display: none;
}

        /*___moible-btn__*/
.mobile-view{
   display: none;
}
  
}



/*___________________________________________-_RESOSIVENESS___________________________________________________*/



@media(max-width: 576px),(max-width: 767px){
    body,html{
    background-color: #000000;
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/mictail-mobile-bg2.png);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
}



@media(max-width: 576px),(max-width: 767px){

.desktop-btn{
  display: none;
}
.filler{
    background-color: transparent;
    width: 220px;
    height: 100px;
}


/*-------heading and welcome-----*/


.main-heading p{
      font-size: 35px;
      
}
.main-heading h2{
      font-size: 50px;
      font-family: 'Montserrat Subrayada', sans-serif;
}
.main-heading h3{
      font-size: 20px;
}
    /*_____NAVBAR____*/

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 2.5px;
	padding-left: 2.5px; 
}
table tbody tr{
    padding: 2px;
    margin: 0%;
}

table tbody{
    font-size: 9px;
}    

#nav-bar-lg.container-fluid.row{
    display: none;
}



#active-nav-mobile{
    background-color: #db1d0d;
    border-radius: 3.3%;
    color: #ffee00;
    margin: 0;
    padding: 2px 2px 2px 2px;
}  

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
   
     color: #ffee00;
}

    .icon-nav{
        font-size: 46px;
    }
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler{
    font-size: 25px;
    text-align: right;
	color: rgba(255,255,0, 1);
    border-color: rgba(255, 255, 0, 0);
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}

    
    /*_____VENUE_PAGE_INFO__*/

    .opac{
        background: black;
        opacity: none;
    }

    .venue-item p{
        text-align: center;
        padding: 0px 10px 0px 10px;
        line-height: 1;
       
       }
     .venue-item h3{
         font-weight: 100;
         text-align: center;
        font-size: 35px;
    margin-bottom: 9px;}

    /*_______WELCOME_TEXT__*/
        .welcome-butt h2{
        margin-top: 30px;
        text-align: center;
    }
        .welcome-butt p{
        margin-top: 40px;
        text-align: center;
    }

    /*_____IMAGES_____*/
        .id-bg-img{
        height: 30%;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
}
}
