@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* allll */
body, html{
margin: 0;
padding: 0;
text-align: unset;
color: unset;
background-color: unset;
height: 100%;
}



/*-------bg-------*/


.bg-one{
    background-color: #db1d0d;
    padding: 0.8rem;
}
.bg-two{
    background-color: #ffee00;
}
.bg-three{
    background-color: rgb(2, 2, 2);
}


/* ---- headings----*/
#heading-main  {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
    font-weight: 100;
    color:#ffee00;
    text-align: right;
    background-color: transparent;
}


#sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vmin;
    font-weight: 700;
    font-style: italic;
    color:#ffee00;
    text-align: right;
    background-color: transparent;
}

.sub-heading2{
font-family: 'Montserrat', sans-serif;
    font-size: 2vmin;
    font-weight: 200;
    color: #ffee00;
    text-align: right;
    background-color: transparent;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vmin;
    font-weight: 400;
    color: #ffee00;
    text-align: left;
    background-color: transparent;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vmin;
    font-weight: 500;
    color: #ffee00;
    text-align: left;
    background-color: transparent;
}


/* ---- NAV BAER -----*/

.container-fluid{
    margin: inherit;

}

ul a{
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: #db1d0d;
    text-align: center;
}

.col{
    padding-left: 0rem;
    padding-right: 0rem;
}


a .nav-link{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

li{
    list-style: none;
    text-decoration: none;
}


#nvbar-head{
    padding: inherit;
    margin: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    
}

#nvbar-sub-head2, #nvbar-sub-head{
    padding: inherit;
    margin: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;

}
.nav-link:hover{
     background-color: rgb(7, 7, 7, 0.5);
    color: #ffee00;
}

a:any-link{
    color: black;
}

/* ------ Logo main ----*/

.logo-img{
    background: url(/workspace/Insecure-Dangereux_site/assets/images/logosanstext.png);
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  background-attachment: scroll;
}

hr{
    width: 2%;
    color: #db1d0d;
}


/* ------ testomonials & articles section______*/

.testi-back{
    background: url(/workspace/Insecure-Dangereux_site/assets/images/Beige-at-ViaVia.jpg) no-repeat bottom right;
    padding: 100px;
    background-size: cover;
}



p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/*------Social-links-------*/


.social-area{
    background-color: #db1d0d;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.social-link-item{
    text-align: center;
    font-size: 20px;
    display: inline-block;
    width: 10%;
    height: 10%;
    padding: 2%;


}
.social-area p {
    font-size: 1vmax;
    font-weight: 600;
    margin: 0;
    padding-bottom: 2% ;
}

a:hover{
    color: black;
}

.social-link-item a:any-link{
   color: #ffee00;
}