@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


.id-bg-img{
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.image1{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/56252815_852751235070524_8492501253140512768_n.jpg);
    background-position: center bottom;
}
.image2{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/65057785_908495176162796_5867742598482886656_n.jpg);
    background-position: center;
}
.image3{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/71582756_976219722723674_4087327437082329088_o.jpg);
    background-position: center;
}
.image4{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/72248612_976218859390427_3680414392849006592_n.jpg);
    background-position: center;
}
.image5{
    background-image: url(/workspace/Insecure-Dangereux_site/assets/images/89252199_1112228155789496_5938179216028729344_n.jpg);
background-position: top;
}

.welcome-butt {
    font-family: 'Montserrat', sans-serif;
background-color: #00000067;
  color: #ffee00;
  font-weight: 800;
  font-size: 5vmax;
  border-radius: 2%;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 2;
}

.welcome-butt:hover{
    background-color:#0000002d;
    color: #db1d0d;
}


/* ---- headings----*/
#heading-main  {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
    font-weight: 100;
    color:#ffee00;
    text-align: right;
    background-color: transparent;
}


#sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vmin;
    font-weight: 700;
    font-style: italic;
    color:#ffee00;
    text-align: right;
    background-color: transparent;
}

.sub-heading2{
font-family: 'Montserrat', sans-serif;
    font-size: 2vmin;
    font-weight: 200;
    color: #ffee00;
    text-align: right;
    background-color: transparent;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vmin;
    font-weight: 400;
    color: #ffee00;
    text-align: left;
    background-color: transparent;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vmin;
    font-weight: 500;
    color: #ffee00;
    text-align: left;
    background-color: transparent;
}

/* ---- NAV BAER -----*/

.nav-sticky{
     position: fixed;
}


.container-fluid{
    margin: 0;

}

ul a{
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: #db1d0d;
    text-align: center;
}

.col{
    padding-left: 0rem;
    padding-right: 0rem;
}

.nav-link{
    display: unset;
    padding-left: 5rem;
    font-size: 120%;
}

li{
    list-style: none;
    text-decoration: none;
}
.nav-link:hover{
     background-color: rgb(7, 7, 7, 0.5);
    color: #ffee00;
}

a:any-link{
    color: black;
}


/*------Social-links-------*/


.social-area,
.copyright{
    background-color: #db1d0d;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.social-link-item{
    text-align: center;
    font-size: 20px;
    display: inline-block;
    width: 10%;
    height: 10%;
    padding: 2%;

}


a:hover{
    color: black;
}

.social-link-item a:any-link{
   color: #ffee00;
}


.copyright p{
    color: #000000;
    font-size: 1vmax;
    font-weight: 600;
    margin: 0;
    padding-bottom: 2% ;
}